$drage-border-color: #eeeeee;

.drag-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.drag-card {
	display: inline-block;
  border-radius: 6px;
	width: 365px;
	height: 340px;
	padding: 22px;
	margin-right: 22px;
	margin-top: 22px;
	//box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	border: 1px solid $drage-border-color;
	.drag-header {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		.drag-icon {
			width: 60px;
			height: 60px;
			min-width: 60px;
			border-radius: 50%;
			margin: 8px;
			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
		.drag-header-title {
			display: flex;
			flex-direction: column;
			margin-top: 8px;
			color: #424242;
			text-align: left;
			.money {
				word-break: break-word;
				font-size: 18px;
				font-weight:500;
				line-height: 1.2;
				height: 68px;
			}
			.nums {
				font-size: 16px;
				text-align: right;
			}
		}
		.drag-tag {
			position: absolute;
			top: -23px;
			left: -23px;
			width: 60px;
			height: 60px;
			font-size: 18px;
			color: #fff;
			line-height: 1;
			> span {
				z-index: 2;
				position: absolute;
				top: 10px;
				left: 0;
				letter-spacing: 2px;
				transform:rotate(-45deg);
			}
			.drag-header-tag {
				position: absolute;
				width: 0;
				height: 0;
				border-top: 60px solid #fa4f21;
				border-right: 60px solid transparent;
			}
			.tag-isTimeLimite {
				border-top: 60px solid #27e927;
			}
		}
	}
	.drag-content {
		&-desc {
			color: #adadad;
			font-size: 16px;
			line-height: 24px;
			height: 46px;
			margin: 12px 0;
			text-overflow: -o-ellipsis-lastline;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}
	.drag-footer {
		height: 50px;
		display: flex;
    justify-content: space-around;
    align-items: center;
		text-align: center;
		border-top: 1px solid $drage-border-color;
		margin-top: 20px;
		padding-top: 8px;
		.dele-button {
			color: #fa4f21;
			border-left: 1px solid $drage-border-color;
    	padding-left: 90px;
		}
		.down-button {
			color: #adadad;
		}
		.up-button,
		.reduction-button {
			color: #424242;
		}
	}

	&-active {
		border-style: dashed;
	}
}