.commodity-form {
	padding: 28px 40px;
  .ant-form-item-label {
		width: 80px;
		margin-right: 8px;
	}

	.ant-form-item-control-input {
		.ant-picker {
			width: 100%;
		}
	}
}

.commodity-table {
	padding: 0 40px 28px 40px;
}
