.commodity-list {
	background-color: #fff;
	border: 0;
	.ant-collapse-content {
		border-top: 0;
	}
	> .ant-collapse-item {
		border-bottom: 0;
	}
	> .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
		font-size: 18px;
		color: #adadad;
		left: auto;
    right: 16px;
	}
  > .ant-collapse-item > .ant-collapse-header {
		font-size: 22px;
		color: #171717;
	}
}
