@import "./normalize.css";
@import "~antd/dist/antd.css";

$conten-padding: 24px;
$content-margin: 24px;
$conten-min-height: 280px;
$conten-background: #fff;
$content-margin-top: 8px;

$date-margin-right: 8px;
$button-margin-left: 8px;
$table-margin-top: 24px;
$spacing-margin-right: 20px;
$spacing-margin-bottom: 40px;

$danger-color: #ff0000;

html,
body,
#root {
  height: 100%;
}

.basic-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.basic-layout-content {
  padding: $conten-padding;
  margin: $content-margin;
  min-height: $conten-min-height;
  background: $conten-background;

  .header {
    .ant-picker {
      margin-right: $date-margin-right;
    }
    .ant-btn {
      margin-left: $button-margin-left;
    }
  }
  .content {
    .ant-table {
      margin-top: $table-margin-top;
    }
  }
  .ant-table {
    margin-top: $table-margin-top;
  }
}
.antd-cp {
  cursor: pointer;
}

.antd-mr {
  margin-right: $spacing-margin-right;
}
.antd-ml8 {
  margin-left: $button-margin-left;
}
.antd-mb {
  margin-bottom: $spacing-margin-bottom;
}
.antd-mt {
  margin-top: $content-margin-top;
}
.dis-flex-between{
	display: flex;
	justify-content: space-between;
}

.antd-cdanger {
  color: $danger-color
}
.ant-modal-footer{
	text-align: center;
}

.ant-select-selection-placeholder,
.ant-select-selection-item {
  width: 100%;
}

.ant-table-wrapper {
  .newline-table {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
  }
}

.ant-pagination-total-text {
  position: absolute;
  left: 0;
}
.ant-picker-input > input{
  text-align: center;
}

.ant-table-column-sorters {
  justify-content: center;
}
